.menu{
    background: rgba(0, 0, 0, .1);
    display: flex;
    flex-flow: nowrap;
    height: 60px;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    text-decoration: none;
    position: fixed;
}
    .logo{
        padding-left: 20px;
        flex: 1 1 auto;
    }
        .logo a{
            color: whitesmoke;
            font-size: 30px;
            
        }
        .logo a:hover{
            color: darkslategray;
        }
    .nav{
        padding-left: 20px;
        padding-bottom: 10px;
        flex: 5 1 auto;
    }
        .nav a{
            color: whitesmoke;
            font-size: 11px;
            text-transform: uppercase;
            padding: 0 10px;
            letter-spacing: 2px;
        }
        .nav a:hover{
            color: darkslategray;
        }
    .social1{
        display: flex;
        flex: 1 1 auto;
    }
        .social1 a{
            font-size: 18px;
            color: darkblue;
            padding: 0 5px;
            text-decoration: none;
    
        }
        .social a:hover{
            color: darkslategray;
        }

.home{
    height: 650px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: right;
    align-content: center;
    background: url('Assets/imagenes/co-working-space-design.jpg') no-repeat center center/cover;
    color: darkorange;
}
.w3layouts{
    width:70%;
	margin:0 80px;
}
.signin-agile {
    width: 55%;
    float: right;
	background:#ffffff99;
	padding: 5px 60px;
	transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
	height:550px;
	margin: 2em 0;
}

.signin-agile h2{
	font-size:40px;
	color: black;
    margin-bottom:20px;
    margin-top: 0px;
}
.signin-agile h6{
	font-size:20px;
	color: black;
    margin-bottom:20px;
    margin-top: 0px;
}

input[type="button"]{
    background:transparent;
    border:5px, solid, darkorange;
    border-color: darkorange;
    width: 100%;
	padding:13px 0;
	font-size:16px;
	color:black;
	cursor:pointer;
	outline:none;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	width:100%;
	border:none;
	margin-top:25px;
	border-radius:25px;
}

input[type="button"]:hover{
    background:darkorange;
    color:white;

}
.dropdown-menu{
    background: white;
    border: transparent;
    color: black;
    text-decoration: none;
    text-align: center;
}
.dropdown-menu li{
    color: black;
    text-decoration: none;
}
.dropdown-menu li:hover{
    background: darkorange;
    color: black;
}
.barra{
    width: 100%;
    color: darkorange;
    -webkit-slider-runnable-track: orange;
    background: orange; 

}
.encabezado{
        display: flex;
        justify-content: first baseline;
        flex-direction: column;;
        height: 7vh;
        width: 100%;
        background: white;
        padding-left: 85px;
        padding-top: 30px;
        font-family: 'GothamBook';
        font-weight: bold;
        color: darkslategray;
}
.encabezado1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    height: 7vh;
    width: 100%;
    background: whitesmoke;
    /* padding-left: 85px;
    padding-top: 30px; */
    font-family: 'GothamBook';
    font-weight: bold;
    color: darkslategray;
}

.ciudades{
    display: flex;
    height: 100vh;
    width: 100%;
    background: white;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.container{
    display: flex;
    justify-content: center;
    flex-flow: nowrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100vh;
    padding:0;
}
.imagen{
    height: 50%;
    width: 100%;
}

.card-body{
    height: 55vh;
    padding: 10px 20px;
    padding-right: 5px;
}
.col-6 col-md-4:hover{
    box-shadow: 10px 10px 5px darkslategray;
}

.textociudades{
    display: flex;
    justify-content: baseline;
    align-items: baseline;
    text-align: left;
}
p{
    color: 2a2af0;
}
.subtexto{
    color: black;
    font-size: ;
}

li{
    color: orange;
    padding-top: 0;
    padding-bottom: 10px;
    font-family: Gotham;
}

.banner{
    display: flex;
    flex-flow: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 30vh;
    width: 100%;
    background: url('Assets/imagenes/oficina.jpg') no-repeat center center/cover;
}
.titulo{
    width: 100%;
    height: 10vh;
}

.spacemates{
    display: flex;
    height: 80vh;
    width: 100%;
}
    .divspace{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 50%;
        text-align: justify;
        padding: 20px 50px;
        flex-direction: column;
        font-size: 25px;

    }
        .divspace h2{
            font-size: 30px;
            padding-bottom: 20px;
            padding-top: 20px;
            ;
        }
        .divspace {
            ;
        }
    .imagenspace{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: stretch;
        justify-content: flex-end;
        align-items: flex-end;
        flex: 0 1 auto;
        align-self: auto;
    }

.about{
    display: flex;
    flex-flow: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100%;
    background: whitesmoke;
}
.about h1{
    color: blue;
    padding-top: 60px;
    font-size: 50px;
}
.about h2{
    color: gray;
    padding-top: 5px;
    font-size: 30px;
}
.titulo-icono{
    display: flex;
    justify-content: space-between;
}
.iconos{
    display: flex;
    justify-content: space-between;
}
.tarjetas{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: 40px;
}
.logos{
    height: 30vh;
    width: 30%;
}
.descripcion{
    display: flex;
    justify-content: center;
    text-align: justify;
    height: 30vh;
    width: 100%;
}
    .boton-about{

    }

.clientes{
    display: flex;
    flex-flow: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    height: 60vh;
    width: 100%;
    background: white;
    color: blue;
    padding-top: 30px;

}
    .cliente h1{
        color: blue;
        padding-top: 100px;
        font-size: 50px;
    }

    .ico-clientes{
        display: flex;
        justify-content: space-between;
    }

.pie{
    background: orange;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;   
    height: 50vh;
    width: 100%;
}

    .tel-dir{
        height: 30vh;
        width: 50%;
        display: flex;
        background: orange;
        align-items: center;
        justify-content: flex-start;
        flex-direction:column;
    }
        .dir{
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
        }
    .social{
        height: 30vh;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: orange;
    }
.btn btn-outline-success my-2 my-sm-0:hover{
    color: orange;

}



.cta-100 {
    margin-top: 0px;
    padding-left: 8%;
    padding-top: 7%;
  }
  .col-md-4{
      padding-bottom:20px;
  }
  
  .white {
    color: #fff !important;
  }
  .mt{float: left;margin-top: -20px;padding-top: 20px;}
  .bg-blue-ui {
    background-color: #708198 !important;
  }
  figure img{width:300px;}
  
  #blogCarousel {
    padding-bottom: 100px;
  }
  
  .blog .carousel-indicators {
    left: 0;
    top: -50px;
    height: 50%;
  }
  
  
  /* The colour of the indicators */
  
  .blog .carousel-indicators li {
    background: #708198;
    border-radius: 50%;
    width: 10px;
    height: 10px;
  }
  
  .blog .carousel-indicators .active {
    background: darkorange;
  }
  
  
  
  
  .item-carousel-blog-block {
    outline: medium none;
    padding: 15px;
  }
  
  .item-box-blog {
    border: 1px solid #dadada;
    text-align: center;
    z-index: 4;
    padding: 20px;
  }
  
  .item-box-blog-image {
    position: relative;
  }
  
  .item-box-blog-image figure img {
    width: 100%;
    height: auto;
  }
  
  .item-box-blog-date {
    position: absolute;
    z-index: 5;
    padding: 4px 20px;
    top: -20px;
    right: 8px;
    background-color: #41cb52;
  }
  
  .item-box-blog-date span {
    color: #fff;
    display: block;
    text-align: center;
    line-height: 1.2;
  }
  
  .item-box-blog-date span.mon {
    font-size: 18px;
  }
  
  .item-box-blog-date span.day {
    font-size: 16px;
  }
  
  .item-box-blog-body {
    padding: 10px;
  }
  
  .item-heading-blog a h5 {
    margin: 0;
    line-height: 1;
    text-decoration:none;
    transition: color 0.3s;
  }
  
  .item-box-blog-heading a {
      text-decoration: none;
  }
  
  .item-box-blog-data p {
    font-size: 13px;
  }
  
  .item-box-blog-data p i {
    font-size: 12px;
  }
  
  .item-box-blog-text {
    max-height: 100px;
    overflow: hidden;
  }
  
  .mt-10 {
    float: left;
    margin-top: -10px;
    padding-top: 10px;
  }
  
  .btn.bg-blue-ui.white.read {
    cursor: pointer;
    padding: 4px 20px;
    float: left;
    margin-top: 10px;
  }
  
  .btn.bg-blue-ui.white.read:hover {
    box-shadow: 0px 5px 15px inset #4d5f77;
  }
